node_modules
dist
.tmp
.sass-cache
bower_components
mongo/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
**.pyc
venv
**/*_priv.py
.project
web/flaskintro/discover-flask/*
