<html>
	<head>
		<title>Handle POST requests with Flask</title>
	</head>
	<body>
		<div id="container">
			<div class="title">
				<h1>POST request with Flask</h1>
			</div>
			<div id="content">
				<form method="post" action="/submit">
					<label for="yourname">Please enter your name:</label>
					<input type="text" name="yourname" />
					<br />
					<label for="youremzail">Please enter your email:</label>
					<input type="text" name="youremail" />
					<br />
					<input type="submit" />
				</form>
			</div>
			<div class="title">
				<h1>Flask code</h1>
			</div>
			<code>				<pre>
@app.route('/')
def form():
    return render_template('form.html')
                </pre></code>
		</div>
	</body>
</html>
